.content-study{
    display: flex;
    width: 90%;
    align-items: center;
    /* grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 400px); */
}
.list-studies{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 2em;
    justify-content: space-between;
}
.card-study{
    margin: auto;
}
.card-study .card{
    min-width: 300px;
    min-height: 300px;
}