header {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.title {
    grid-column: 1 / span 5;
    margin: auto;
    font-size: var(--sizeHeaderTitle);
    font-weight: 700;
    display: flex;
    text-align: center;
    color: var(--letterColorLight);
    max-height: 70px;
    padding: 7px 0;
    text-shadow: 0 0 5px var(--letterShadow);
}


#hidden {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #000;
    font-family: 'Consola';
    width: 0;
    transition: width .3s ease-in;
    animation: blink-caret .5s step-end infinite;
}

#hidden > div{
    display: flex;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 7ch;
    }

    /* Ajusta el número de caracteres a mostrar */
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    25%, 75% { border-color: #333333cb }
    50% { border-color: #000 }
}

@keyframes incremate {
    16.66% {
        border-right: 2px solid transparent;
        width: var(--size)
    }

    18.66% {
        border-right: 2px solid #000;
    }

    33.33% {
        border-right: 2px solid transparent;
        width: calc(var(--size)*2);
    }

    35% {
        border-right: 2px solid #000;
    }

    50.01% {
        border-right: 2px solid transparent;
        width: calc(var(--size)*3);
    }

    52% {
        border-right: 2px solid #000;
    }

    66.68% {
        border-right: 2px solid transparent;
        width: calc(var(--size)*4);
    }

    68% {
        border-right: 2px solid #000;
    }

    83.35% {
        border-right: 2px solid transparent;
        width: calc(var(--size)*5);
    }

    85% {
        border-right: 2px solid #000;
    }

    100% {
        border-right: 2px solid transparent;
        width: calc(var(--size)*6.5);
    }
}